.example-spacer {
  flex: 1 1 auto;
}

@mixin circle($size){
  width: $size;
  height: $size;
  border-radius: 50%;
}
.logout{
  img {
    @include  circle(36px);
    line-height: 36px;
    vertical-align: middle;
    margin-right: 50%;
  }
}
